
.banner{
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}


.slideCartShadow{
  box-shadow: -5px 10px 15px -3px rgba(0,0,0,0.13);
  -webkit-box-shadow: -5px 10px 15px -3px rgba(0,0,0,0.13);
  -moz-box-shadow: -5px 10px 15px -3px rgba(0,0,0,0.13);
}



  