.mobileMenuBg {
  background: rgba(4, 13, 62, 0.52);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(4, 13, 62, 0.37);
}

.mobileMenuTransition{
  transition: left 1s;
}

.opacity_0{
  opacity: 0;
}