/* Import Tailwind */

/* Import global variables and themes styles */
@import "./utiles/variables.css";
@import "./utiles/darkStyle.css";
@import "./utiles/lightStyle";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply py-2 px-4 bg-blue text-white font-semibold rounded-lg shadow-md hover:bg-navi-blue focus:outline-none focus:ring-2 focus:ring-blue focus:ring-opacity-75;
    }
  }
  
 
  @layer components {
   
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.fadeInAnimation{
 opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.infinite-scroll-component__outerdiv{
  width: 100% !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}